<li class="logoIcon">
	<a href="{{ path('anuncios_anuncio_index') }}"><img alt="Premios Anuncios.com" src="{{ asset('bundles/anunciosanuncio/images/logoIcon.png') }}"></a>
</li>
{% for category in categories %}
{% if id == category.id %}
    <li class="active">
{% else %}
	<li>
{% endif %}
    <a href="{{ path('anuncios_anuncio_category', {'id': category.id, 'slug': category.slug }) }}">{{ category.name }}</a></li>
{% endfor %}