<div class="previousFinalists row">
	<ul class="col-md-6">
		{% for monthCampaign in monthCampaigns %}
		{% if loop.index == 7  %}
		</ul>
		<ul class="col-md-6">
		{% endif %}
		<li>
			{% if monthCampaign and monthCampaign.showFinalist %}
			<a href="{{ path('anuncios_anuncio_finalists', {'month': loop.index}) }}">{{ ("28-"~loop.index~"-14")|localizeddate('long', 'none', null, null, "MMMM")|capitalize }}</a>
			{% else %}
			{{ ("28-"~loop.index~"-14")|localizeddate('long', 'none', null, null, "MMMM")|capitalize }}
			{% endif %}
		</li>
		{% endfor %}
	</ul>
</div>