{% extends 'AnunciosAnuncioBundle:Frontend:layout.html.twig' %}

{% block content %}
	ANUNCIOS EN {{ category.name }}
	<br />
	<br />
	{% for anuncio in anuncios %}
		<img src="{{ anuncio.image }}" />
		<a href="{{ path('anuncios_anuncio_show', {'id': anuncio.id}) }}">{{ anuncio.name }}</a>
	{% endfor %}
{% endblock %}
