{% extends 'AnunciosAnuncioBundle:Frontend:layout.html.twig' %}

{% block content %}
<section class="anunciosList clearfix">
	<div class="title">
		<img src="{{ category.headlineImage?category.headlineImage|imagine_filter('anuncios_category_headline'):asset('bundles/anunciosanuncio/images/title_category.jpg') }}">
		<h2>{{ category.name }}</h2>
	</div>
	
	{% if(hasVotingByCategory) %}
		<p style="color: red">Has llegado al limite de votos para esta categoria</p>
	{% else %}
	
	<div class="list clearfix">
		{% for anuncio in anuncios %}
		{% include 'AnunciosAnuncioBundle:Frontend/Partial:_anuncio.html.twig' with {'anuncio': anuncio} %}
		{% endfor %}
	</div>
	
	
	<h3>Anuncios mas votados en {{ category.name }} este més</h3>
	<div class="list clearfix">
		{% for anuncio in lastAnunciosVoteByCategory %}
		{% include 'AnunciosAnuncioBundle:Frontend/Partial:_anuncio.html.twig' with {'anuncio': anuncio} %}
		{% endfor %}
	</div>
</section>
{% endblock %}
