{% extends 'AnunciosAnuncioBundle:Frontend:layout.html.twig' %}

{% block content %}
<section class="anunciosList clearfix">
	<div class="title">
		<img src="{{ asset('bundles/anunciosanuncio/images/title_home.jpg') }}">
	</div>
	
	{% if(leftAnunciosVoteByUser is empty) %}
	<p class="message">Has completado tus votos en todas las categorías</p>
	{% endif %}
			
	<div class="row">
		<div class="col-md-8">
		{% if(leftAnunciosVoteByUser is not empty) %}
			<h3>SECCIONES POR VOTAR</h3>
			<div class="list clearfix">
				{% for anuncio in leftAnunciosVoteByUser %}
				{% if(anuncio != null) %}
					{% include 'AnunciosAnuncioBundle:Frontend/Partial:_anuncio.html.twig' with {'anuncio': anuncio} %}
				{% endif %}
				{% endfor %}
			</div>
		{% endif %}

		{% if(lastAnunciosVoteByUser is not empty) %}
			<h3>SECCIONES QUE HAS VOTADO</h3>
			<div class="list clearfix">
				{% for anuncio in lastAnunciosVoteByUser %}
				{% include 'AnunciosAnuncioBundle:Frontend/Partial:_anuncio.html.twig' with {'anuncio': anuncio} %}
				{% endfor %}
			</div>
		{% endif %}
		</div>
		<div class="col-md-4">
			<h3>Marcha de las votaciones</h3>
			
			{{ render(controller('AnunciosAnuncioBundle:Frontend/Component:rankingPreview', { 
					'activeCampaign': activeCampaign,
					'categories' : categories 
				})) 
			}}
		</div>
	</div>
</section>
{% endblock %}
