{% extends 'AnunciosAnuncioBundle:Frontend/Main:baseRanking.html.twig' %}

{% block rankingTable %}
<table class="ranking">
	<tr>
		<th width="10%">#</th>
		<th width="90%">Anuncio</th>
	</tr>
	{% for anuncio in rankingAnuncios %}
	<tr>
		<td class="number">0{{ loop.index }}</td>
		<td class="details">
			<img src="{{ anuncio.image }}" width="60">
			<a href="{{ path('anuncios_anuncio_show', {'anuncio_id': anuncio.id, 'slug': anuncio.category.slug}) }}">{{ anuncio.name }}</a>
		</td>
	</tr>
	{% endfor %}
</table>
{% endblock %}	