{% extends 'AnunciosAnuncioBundle:Frontend:layoutPortada.html.twig' %}

{% block title %}Próximamente - Premios Anuncios.com{% endblock %}

{% block content %}
	<img src="{{ asset('bundles/anunciosanuncio/images/portada-proximamente.jpg') }}" class="title img-responsive">
	<form action="#" method="post" class="disabled">
		<button type="submit" name="send"></button>
	</form>
{% endblock %}
