{% extends 'GeckoBackendBundle::layout.html.twig' %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% from 'GeckoBackendBundle:Macros:misc.html.twig' import pagination %}
{% from 'AnunciosAnuncioBundle:Backend/Anuncio:macros.html.twig' import list  %}

{% block topbar %}
<ol class="breadcrumb">
    <li>{{ 'gecko.backend.breadcrumb.anuncio.index'|trans }}</li>
</ol>
{% endblock %}

{% block content %}
<div class="page-header">
    <div class="actions-menu">
        {#{ buttons.create(path('anuncios_anuncio_backend_anuncio_create'), 'gecko.backend.create'|trans) }#}
    </div>
    <h1><i class="icon-facetime-video"></i> {{ 'gecko.backend.anuncio.index_header'|trans|raw }}</h1>
</div>

{% render(controller('gecko.backend.controller.form:filterAction', {'type': 'anuncios_anuncio_filter', 'template': 'AnunciosAnuncioBundle:Backend/Anuncio:filterForm.html.twig'})) %}

{{ list(anuncios)  }}
{{ pagination(anuncios) }}

{% endblock %}
