<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Anuncios{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block content %}
        	{% for category in categories %}
				<a href="{{ path('anuncios_anuncio_category', {'id': category.id}) }}">{{ category.name }}</a>
			{% endfor %}
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>