{% extends 'AnunciosAnuncioBundle:Frontend:layoutPortada.html.twig' %}

{% block title %}Ingresar - Premios Anuncios.com{% endblock %}

{% block content %}
<div class="row">
	<div class="col-sm-12">
		<h1 class="title"><span class="big">Vota Los Anuncios del Año 2015</span></h1>
	</div>
</div>
<div class="row">
	<div class="col-sm-4 col-sm-offset-4" style="padding: 0 1%;">
		<form action="{{ path("anuncios_anuncio_login") }}" method="post">
			{% if(error) %}
			<p class="error">
				{{ message }}. <a href="http://www.anuncios.com/Users/passwordReminder.aspx">¿Ha olvidado la contraseña?</a>
			</p>
			{% endif %}
			<fieldset>
				<p><input type="text" name="username" placeholder="Usuario"></p>
				<p><input type="password" name="password" placeholder="Contraseña"></p>
					
				<button type="submit" name="send"></button>
			</fieldset>
			<a href="http://www.anuncios.com/Users/passwordReminder.aspx" class="passwordReminder">Recordar contraseña</a>
		</form>
	</div>
</div>
{% endblock %}
{% block subcontent %}
<div class="row">
	<div class="col-sm-12">
		<p class="infoVoting">
			Si recibes las newsletter gratuitas de Anuncios o Marketing News puedes votar.
			Usa el procedimiento para recordar contraseña. <a href="http://www.anuncios.com/premios/2014" target="_blank">Más info</a>.
		</p>
	</div>
</div>	
{% endblock %}
