{% extends 'AnunciosAnuncioBundle:Frontend:layoutPortada.html.twig' %}

{% block title %}Ingresar - Votación Anuncios.com{% endblock %}

{% block content %}
	<img src="{{ asset('bundles/anunciosanuncio/images/portada-vota-ultimo-mes.jpg') }}" class="title img-responsive">
	<form action="{{ path("anuncios_anuncio_login") }}" method="post">
		{% if(error) %}
		<p class="error">
			{{ message }}. <a href="http://www.anuncios.com/Users/passwordReminder.aspx">¿Ha olvidado la contraseña?</a>
		</p>
		{% endif %}
		<fieldset>
			<p><input type="text" name="username" placeholder="Usuario"></p>
			<p><input type="password" name="password" placeholder="Contraseña"></p>
				
			<button type="submit" name="send"></button>
		</fieldset>
	</form>
{% endblock %}
