@font-face {
    font-family: 'lubalgraph_bk_btbook';
    src: url('../fonts/lubgrhn-webfont.eot');
    src: url('../fonts/lubgrhn-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lubgrhn-webfont.woff') format('woff'),
         url('../fonts/lubgrhn-webfont.ttf') format('truetype'),
         url('../fonts/lubgrhn-webfont.svg#lubalgraph_bk_btbook') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'lubalgraph_bd_btbold';
    src: url('../fonts/lubgrhb-webfont.eot');
    src: url('../fonts/lubgrhb-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lubgrhb-webfont.woff') format('woff'),
         url('../fonts/lubgrhb-webfont.ttf') format('truetype'),
         url('../fonts/lubgrhb-webfont.svg#lubalgraph_bd_btbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'lubalgraph_md_btmedium';
    src: url('../fonts/lubgrhm-webfont.eot');
    src: url('../fonts/lubgrhm-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lubgrhm-webfont.woff') format('woff'),
         url('../fonts/lubgrhm-webfont.ttf') format('truetype'),
         url('../fonts/lubgrhm-webfont.svg#lubalgraph_md_btmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}


html, body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #737373;
}

body > .container {
	padding-bottom: 100px;
}

a, a:hover {
	color: #737373;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus, button:focus {   
	border-color: none;
	box-shadow: 0;
	outline: 0 none;
}

.blueimp-gallery>.close, .blueimp-gallery>.title, 
.blueimp-gallery>.prev, .blueimp-gallery>.next, 
.blueimp-gallery>.indicator {
	display: block !important;
}
.blueimp-gallery > .slides > .slide > .text-content {
    overflow: hidden;
    margin: 60px auto;
    padding: 0 60px;
    max-width: 920px;
    text-align: center;
    width: 100%;
}

.blueimp-gallery > .slides > .slide > .text-content iframe {
    height: 100%;
	width: 484px;
	margin: 0px auto;
	border: 0px none;
}

.blueimp-gallery > .slides > .slide-loading > .slide-content {
	opacity: 1 !important;
}
#header {
	margin: 10px 0 25px 0;
	height: 60px;
}

#header .logo {
	float: left;	
}

#header .siteDate {
	float: left;
	max-width: 270px;
	margin: 10px 0 0 30px;
}

#header ul.date {	
	font-size: 12px;
}

#header ul.date li {
	float: left;
	margin-right: 5px;
}

#header ul.date li:first-child {
	margin: 2px 10px 0 0;
}

#header .period {
	margin: 10px 0 0 0;	
}

#header .access {
	float: right;
	margin-top: 10px;
}

#header ul.menu {
	font-size: 12px;
}

#header ul.menu li {
	float: left;
	padding: 0 8px;
	border-right: 1px solid #737373;
}

#header ul.user {
	font-size: 12px;
	margin: 10px 0 0 0;
}

#header ul.user li {
	float: right;
	padding: 0 8px;
	border-right: 1px solid #737373;
}

#header ul.user li i {
	font-size: 14px;
	margin-right: 5px;
}

#header ul.menu li:last-child, #header ul.user li:first-child {
	padding-right: 0;
	border-right: none;
}

#mainMenu {
	width: 100%;
	border-top: 1px solid #737373;
	border-bottom: 1px solid #737373;
	font-size: 12px;
}

#mainMenu li {
	float: left;
	margin-right: 15px;
	padding: 8px 0;
	font-weight: bold;
}

#mainMenu li.logoIcon {
	padding: 0;
	margin-right: 8px;
}
	
#mainMenu li.logoIcon img {
	height: 33px;
}

#mainMenu li:hover, #mainMenu li.active {
	border-bottom: 3px solid #000000;
	padding-bottom: 5px;
}

#mainMenu li.logoIcon:hover {
	padding-bottom: 0px;
	border: none;
}

#mainMenu li:hover a, #mainMenu li.active a {
	color: #000000;
	text-decoration: none;
}

.buttonLine {
	font-family: "lubalgraph_md_btmedium", Arial, Helvetica, sans-serif;
	font-size: 35px;
	color: #D50000;
	background: url(../images/buttonLineBackground.png) no-repeat;
	background-position: bottom;
	padding-bottom: 12px;
}

.buttonLine:hover {
	color: #D50000;
	text-decoration:none;
}