#content section {
	margin-top: 20px;
}

#content section .adBanner {
	margin: 0 auto 20px auto;
}

#content section .message {
	background: #3dc63d;
	color: #FFFFFF;
	line-height: 30px;
	text-transform: uppercase;
	padding-left: 10px;
	font-size: 14px;
}

#content section .title {
	margin-bottom: 20px;
	position: relative;	
}

#content section .title img {
	display: block;
}

#content section .title h2 {
	position: absolute;
	top: 48px;
	font-family: "lubalgraph_bk_btbook", Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	font-size: 70px;
	font-weight: normal;
	text-transform: capitalize;
	margin-left: 30px;
}

#content h2, #content h3 {
	margin: 0;
	color: #d5242a;
	font-weight: bold;
	text-transform: uppercase;
}

#content h3 {
	font-size: 18px;
}

#content h4 {
	color: #000000;
}

#content .anunciosList .list {
	margin-top: 20px;
}

#content .anunciosList .list .anuncio {
	float: left;
	width: 220px;
	height: 230px;
	margin: 0 20px 35px 0;
}

#content .anunciosList .list.size-2 .anuncio {
	width: 185px;
	height: 220px;
	margin-bottom: 10px;
}

#content .anunciosList .anuncio .imageWrapper
{
	display: block;
	position: relative;
}

#content .anunciosList .anuncio .imageWrapper span {
	background: url(../images/vote-flag.png) no-repeat;
	width: 52px;
	height: 52px;
	position: absolute;
	right: 0;
}
#content .anunciosList .anuncio .imageWrapper span.voted {
	background: url(../images/voted-flag.png) no-repeat;
}
#content .anunciosList .anuncio .imageWrapper img {
	width: 100%;
}

#content .anunciosList .anuncio p.sector {
	text-transform: uppercase;
	margin-bottom: 3px;
	height: 17px;
}

#content .anunciosList .anuncio p.name {
	font-size: 16px;
	font-weight: bold;
	margin: 10px 0 0 0;
}

#content .anunciosList .anuncio p.name a {
	color: #000000;
}

#content .anunciosList .anuncio p.subname {
	margin: 0;
}

#content .rankingPreview h4 {
	text-transform: uppercase;
	font-size: 16px;
	font-weight: bold;
}

#content .marchaRanking p {
	font-size: 14px;
}

#content .marchaRanking p .number {
	color: #6e6e6e;
}

#content .marchaRanking p .categoryName {
	font-size: 14px;
}

#content .anuncioShow .subname {
	text-transform: uppercase;
}

#content .anuncioShow .picture {
	width: 100%;
	position: relative;
}

#content .anuncioShow .picture > img {
	width: 100%;
}

#content .anuncioShow .picture .overlay {
    display: none;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: black;
    opacity: 0;
    z-index: 1;
}

#content .anuncioShow .picture:hover .overlay { opacity: 0.5; }

#content .anuncioShow .picture .overlayContent {
	position: absolute;
	top: 40%;
	width: 100%;
	z-index: 2;
	display: none;
}

#content .anuncioShow .picture .overlayContent .actions,
#content .anuncioShow .picture .overlayContent .info {
	width: 295px;
	margin: 0 auto;
}

#content .anuncioShow .picture .overlayContent.oneLine .actions {
	width: 150px;
}

#content .anuncioShow .picture .overlayContent .actions > a {
	display: block;
	width: 140px;
	height: 45px;
	background: #d5242a;
	line-height: 45px;
	font-size: 20px;
	color: #FFFFFF;
	font-weight: bold;
	text-align: center;
	float: left;
	margin-right: 15px;
}

#content .anuncioShow .picture .overlayContent .actions > a:hover {
	text-decoration: none;
}

#content .anuncioShow .picture .overlayContent .actions > a:last-child {
	margin-right: 0;
}
#content .anuncioShow .picture .overlayContent .actions > a.viewResourceExternalButton,
#content .anuncioShow .picture .overlayContent .actions > a.viewResourcesButton {
	background: #8d8d8d;
}
#content .anuncioShow .picture .overlayContent .actions > a.votedButton {
	background: #469c38;
}

#content .anuncioShow .picture .overlayContent .info {
	text-align: center;
	color: #FFFFFF;
	font-weight: bold;
	margin-top: 15px;
}

#content .anuncioShow .picture .overlayContent .info p {
	margin: 0 0 5px 0;
}

#content .anuncioShow .attributes p {	
	margin: 0;
	font-weight: bold;
}

#content .anuncioShow .attributes p span {
	color: #000000;
}

#content .categorySelector h4 {
	float: right;
	width: 25%;
	text-align: right;
	margin-right: 5px;
}

#content .categorySelector select {
	float: right;
	width: 50%;
	margin: 10px 0;
}

#content table.ranking {
	width: 100%;
	margin-top: 30px;
}

#content table.ranking th {
	background: #eaeaea;
	font-weight: normal;
	text-align: center;
	height: 36px;
	border-right: 1px solid #FFFFFF;
}

#content table.ranking tr {
	border-bottom: 1px solid #eaeaea;
}

#content table.ranking td {
	padding: 16px 20px;
}

#content table.ranking td.number {
	text-align: center;
	color: #d5242a;
	font-size: 18px;
	font-weight: bold;
}

#content table.ranking td.details a {
	margin-left: 35px;
	font-size: 18px;
}

#content table.ranking td.votes {
	text-align: center;
	font-size: 28px;
	color: #d4d4d4;
}