html, body {
	height: 100%;
	/*overflow:hidden;*/
}

body.portada h1 {
	font-family: 'lubalgraph_md_btmedium', Arial, Helvetica, sans-serif;
	font-size: 60px;	
}

body.portada h4 {
	font-family: 'lubalgraph_bk_btbook', Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #000000;
}

body.portada .container {
	width: 90%;
	padding: 0;
}

body.portada .container > .row {
	/*height: 70%;*/
}

body.portada .trofeoContainer {
	float: left;
}

body.portada .trofeo {
	max-height: 65%;
	margin: 0 auto;
	float: right;
}

body.portada #content {
	position: absolute;
	top: 10%;
	width: 100%;
}

body.portada #content h1.title {
	margin: 20px 0 0 0;
	color: #000000;
	line-height: 48px;
	font-size: 40px;
	text-align: center;
}

body.portada #content h1.title span {
	background: #FFFFFF;
}

body.portada #content h1.title span.big {
	font-size: 46px;
}

body.portada #content form {
	margin: 20px 0 0 0;
}

body.portada #content form fieldset {
	width: 100%;
}

body.portada #content form .error {
	color: #d50000;
	font-size: 14px;
}

body.portada #content form .error a {
	color: #d50000;
	text-decoration: underline;
}

body.portada #content form fieldset p {
	margin-bottom: 5px;
}

body.portada #content form fieldset input {
	width: 100%;
	height: 40px;
	border: 1px solid #989898;
	color: #989898;
	padding: 5px;
}

body.portada #content form button {
	display: block;
	background: url(../images/enterButton.png) no-repeat;
	width: 213px;
	height: 47px;
	border: none;
	margin: 20px auto 0 auto;
}

body.portada #content form.disabled button {
	background: url(../images/enterButton-disabled.png) no-repeat;
}

body.portada #content .viewFinalist {
	display: block;
	text-align: center;
	width: 100%;
	text-decoration: none;
}

body.portada #content .passwordReminder {
	font-family: 'lubalgraph_bk_btbook', Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000000;
	display: block;
	text-align: center;
	margin-top: 10px;
}

body.portada #content .infoVoting,
body.portada #subcontent .infoVoting {
	font-family: 'lubalgraph_bk_btbook', Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #000000;
	margin-top: 20px;
}

body.portada #patrociniosContent {
	margin-top: -10%;
}

body.portada .patrocinios .title, 
body.portada .patrocinioPrincipal .title {
	font-size: 18px;
	font-family: 'lubalgraph_md_btmedium', Arial, Helvetica, sans-serif;
	color: #000000;
	margin-bottom: 15px;
}

body.portada .patrocinios .list > div {
	width: 25%;
	float: left;
	padding: 0 20px 0 0;
}

/*body.portada .container > .patrocinios a {
	float: left;
	margin-right: 20px;
}

body.portada .container > .patrocinios img {
	height: 90px;
}*/

body.portada .patrocinioPrincipal {
}

/*body.portada .patrocinioPrincipal h4 {
	text-align: center;
}*/

body.portada .patrocinioPrincipal img {
	/*width: 100%;*/
}

@media only screen 
and (max-width : 1024px) {
	body.portada #content h1.title span.big {
		font-size: 55px;
	}
	body.portada h1 {
		font-size: 35px;
	}
	body.portada #content h1.title {
		line-height: 35px;
	}
	.buttonLine {
		font-size: 20px;
	}
	body.portada .container > .patrocinios img {
		height: 60px;
	}
}