html, body {
	height: 100%;
	overflow:hidden;
}

body.portada h1 {
	font-family: 'lubalgraph_md_btmedium', Arial, Helvetica, sans-serif;
	font-size: 75px;	
}

body.portada h4 {
	font-family: 'lubalgraph_bk_btbook', Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #000000;
}

body.portada .container {
	width: 90%;
	padding-top: 1%;
}

body.portada .container > .row {
	height: 70%;
}

body.portada .trofeoContainer {
	float: left;
}

body.portada .trofeo {
	max-height: 65%;
	margin: 0 auto;
	float: right;
}

body.portada #content h1.title {
	margin: 10px 0 0 0;
	color: #868686;
	line-height: 60px;
}


body.portada #content h1.title span.big {
	font-size: 95px;
}

body.portada #content form {
	width: 30%;
	margin: 30px 0 0 20px;
	float: left;
}

body.portada #content form fieldset {
	width: 100%;
}

body.portada #content form .error {
	color: #d50000;
	font-size: 14px;
}

body.portada #content form .error a {
	color: #d50000;
	text-decoration: underline;
}

body.portada #content form fieldset p {
	margin-bottom: 5px;
}

body.portada #content form fieldset input {
	width: 100%;
	height: 40px;
	border: 1px solid #989898;
	color: #989898;
	padding: 5px;
}

body.portada #content form button {
	display: block;
	background: url(../images/enterButton.png) no-repeat;
	width: 213px;
	height: 47px;
	border: none;
	margin: 20px auto 0 auto;
}

body.portada #content form.disabled button {
	background: url(../images/enterButton-disabled.png) no-repeat;
}

body.portada .container > .patrocinios {
	padding-top: 20px;
	height: 30%;
}

body.portada .container > .patrocinios a {
	float: left;
	margin-right: 20px;
}

body.portada .container > .patrocinios img {
	height: 90px;
}

body.portada .patrocinioPrincipal {
	float: left;
	max-width: 40%;
	margin: 90px 0 0 20px;
}

body.portada .patrocinioPrincipal h4 {
	text-align: center;
}

body.portada .patrocinioPrincipal img {
	/*width: 100%;*/
}